body
{
	margin:0;
	background-color: #f2f3f4;
}

.content-header
{
	font-family: pixelmix;
	text-align:left;
	color: white;
	font-size: 5vh;
	text-shadow: 0px 0px 7px #F15F78;
}

#content-text
{
	text-align:center;
	width: 80%;
	margin: 0 10%;
	font-size: 1.5vw;
}

.filter
{
	white-space: nowrap;
	width: 100%;
	height: 100%;
	background-color: RGB(0,0,0,0.5);
	background-size: 100% 100%;
	padding: 1% 0;	
}

/***************/
/*Games Section*/
/***************/

#games-content
{
	position: absolute;
	top: 90%;
	height: 50%; 
	width: 100%;
	border-bottom-style: solid;
	border-bottom-color: #F15F78;
	border-bottom-width: 1px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/slideshow/NinjaSlide.jpg);
}


#app-container
{
	position:inline-block;
	height:25%;
	width: 80%;
	margin: 0 auto;
}

.appicon
{
	white-space: nowrap;
	position: inline-block;
	width: 18%;
	height: auto;
	margin: 0 1%;
}


/***************/
/*Team Section*/
/***************/

#about-content
{
	font-family: pixelmix;
	margin: 0 auto;
	width:100%;
	text-align:center;
	padding: 0;
	position:absolute;
	top: 140%;
	padding-top: 0%;
	background-color: #4D4D4D;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/slideshow/SumoSlide.jpg);
}

input
{
	margin: 0 auto;
	width: 30%;
}

textarea
{
	margin: 0 auto;
	width: 30%;
	border-color: #F15F78;
	border-width: 3px;
	border-style: solid;
	border-radius: 4px;
}

#emailcontent
{
	height: 10vh;
}

a:hover
{
	text-decoration:none;
}

#submit
{
	color:#F15F78;
	border:#F15F78;
	border-style: solid;
	border-width: 3px;
	border-radius: 4px;
	background-color: white;
	width: 12vw;
	height: 4vw;
	font-weight:bold;
	font-size: 2vw;
	cursor:pointer;
	margin: 1% auto;
	box-shadow: 1px 1px 5px 1px #49242F;
	-webkit-transition: color .5s, border-radius .5s, background-color .5s; /* Safari */
  	transition: color .5s, border-radius .5s, background-color .5s;
}

#submit:hover
{
	border-radius: 50px;
	background-color: #F9768C;
	box-shadow: 1px 1px 5px 1px #49242F;
}

h1
{
	font-weight: bold;
	font-size:3vw;
}

h2
{
	font-weight:bold;
	font-size: 2vw;
}

.employee
{
	/*border-style:solid;
	border-color:#F15F78;
	border-radius: 10px;
	border-width: 4px;*/
	padding: 1% 1% 1% 1%;
	background-color: transparent;
	color: white;
	margin: 5%% 1%;
	width: 25%;
	font-family: pixelmix;
	display:inline-block;
}

a
{
	text-decoration:none;
}

.profile-pic
{
	border-radius: 15px;
	width: 65%;
	height:auto;
}

.name
{
	font-weight: bold;
	font-size: 2vw;
}

.jobtitles
{
	font-size: 1vw;
}

#name
{
	border-color: #F15F78;
	border-width: 3px;
	border-style: solid;
	border-radius: 4px;
}

#email
{
	border-color: #F15F78;
	border-width: 3px;
	border-style: solid;
	border-radius: 4px;	
}

#subject
{
	border-color: #F15F78;
	border-width: 3px;
	border-style: solid;
	border-radius: 4px;
}
