@media (max-width: 768px) {
  /* For mobile phones: */
  
  .slideshow li span
  {
    
  }

.content-header
{
    font-size: 3vw;
}
  
  #toolbar-buttons
  {
    margin-left: 80%;
    width: 20%;
    height: 12vw;
  }
  
  .toolbar-button
  {
	  display:block;
    height: 100%;
  }

	.toolbar-button
	{
		width: 80%;
	}

  
  #home-icon
  {
    width: 50%;
    height: auto;
    margin-left: 25%;
  }
  
  .game
  {
    position: relative;
    display: inline-block;
    width: 30%;
    height: 40%;
  }
  
  .content-header
  {
    font-size: 4vw;
  }
  
  #copyright
  {
     font-size: 1.5vw; 
  }
  
  .name
  {
    font-size: 3vw;
  }
  
  .jobtitles
  {
    font-size: 1.75vw;
  }  
  
  input
  {
    width: 60%; 
  }
  
  textarea
  {
    width: 60%;
  }
  
	.storelinks
	{
		width: 90%;
	}
	
  .storelink
  {
    width: 27.5%; 
  }
  
  #submit
  {
	  width: 20vw;
    height: 7.5vw;
  }
}
