@media (max-width: 768px) and (orientation: portrait){
  /* For mobile phones: */
  
  .slideshow li span
  {
    
  }

#submit
	{
		font-size: 3vw;	
	}
	
.content-header
{
    font-size: 3vw;
}
  
  #toolbar-buttons
  {
    margin-left: 85%;
    width: 20%;
    height: 12vw;
  }
  
  .toolbar-button
  {
	  display:block;
    height: 100%;
  }

	.toolbar-button
	{
		width: 80%;
	}

  
  #home-icon
  {
    width: 50%;
    height: auto;
    margin-left: 25%;
  }
  
  .game
  {
    position: relative;
    display: inline-block;
    width: 30%;
    height: 40%;
  }
	
	.gametitle
{
	height: auto;
	width: 100%;
	margin: 0;
}
	/*.gameicon
	{
		height: auto;
		width: 60%;
	}*/
	
	.storelinks
	{
		width: 75%;
		margin: 0 auto;
	}
	
.storeimg
{
	width: 100%;
	height: auto;
}
  
  
  .content-header
  {
    font-size: 4vw;
  }
  
  #copyright
  {
     font-size: 1.5vw; 
  }
  
  .name
  {
    font-size: 3vw;
  }
  
.profile-pic
{
	border-radius: 15px;
	width: 90%;
	height: auto;
}
	
  .jobtitles
  {
    font-size: 2.25vw;
  }  
  
  input
  {
    width: 60%; 
	font-size: 2vw;
  }
  
  textarea
  {
    width: 60%;
  }
  
  #submit
  {
	  width: 20vw;
    height: 7.5vw;
  }
}
