@font-face {
  font-family: pixelmix;
  src: url(fonts/pixelmix.ttf) format('truetype');
}

.toolbar
{
	top: 0;
	position: absolute;
	width: 100%;
	background-color: transparent;/*rgba(0,0,0,0.8);*/
	margin-top: 0;
	z-index:3;
	/*box-shadow: 0px 0px 20px 3px #A36A88;*/
}

.toolbar-buttons
{
	margin-left: 88%;
	width:10%;
	height:7vw;
	background-color: rgba(255,255,255,0);	
	text-decoration: none;
}

.toolbar-button
{
	border:none;
	background-color: rgba(255,255,255,0);
	width: 50%;
	height:50%;
	margin:0;
	cursor: pointer;
	font-family: pixelmix;
	font-size: 2vw;
}

.toolbar-button img
{
	height: 100%;
	width: auto;
}

.home-icon
{
	border:none;
	float:left;
	padding:5px;
	width:15%;
	height:auto;
}


/*.home-icon:hover
{
	background-color:#F15F78;	
}*/



.toolbar-button:hover #about
{
	color: white;
	text-shadow: 0px 0px 5px #FFFFFF;
}

.toolbar-button:hover #games
{
	color: white;
	text-shadow: 0px 0px 5px #FFFFFF;

}

.toolbar-button:hover #contact
{
	color: white;
	text-shadow: 0px 0px 5px #FFFFFF;

}

#about
{
	color: white;
	text-shadow: 0 0 0 white;
	-webkit-transition: text-shadow .4s, color .2s; /* Safari */
  	transition: text-shadow .4s, color .2s;
}

#games
{
	color: white;
	text-shadow: 0 0 0 white;
	-webkit-transition: text-shadow .4s, color .2s; /* Safari */
  	transition: text-shadow .4s, color .2s;
}

#contact
{
	color: white;
	text-shadow: 0 0 0 white;
	-webkit-transition: text-shadow .4s, color .2s; /* Safari */
  	transition: text-shadow .4s, color .2s;
}
