.toolbar
{
	position:fixed;
	background-color: #4D4D4D;
	padding-left: 33.3%;
	margin: 0;
}

.toolbar-buttons
{
	width:50%;
	background-color: #4D4D4D;	
	text-decoration: none;
}

.toolbar-button
{
	border:none;
	background-color: #4D4D4D;
	width: 33.3%;
	margin:0;
	cursor: pointer;
	font-size:2vw;
}

.toolbar-button:hover #games
{
	color: #F15F78;
}

.toolbar-button:hover #contact
{
	color: #F15F78;
}

#about
{
	color: #F15F78;
}

#games
{
	color: white;
}

#contact
{
	color: white;
}